<!DOCTYPE html>
<html>
<head>
    <style>
        .ezoic-ad.box-2 {
            display: block !important;
            float: none !important;
            margin-bottom: 15px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            margin-top: 15px !important;
            min-height: 90px;
            min-width: 728px;
            text-align: center !important;
        }

        .ezoic-ad {
            display: inline-block;
        }

        .adtester-container-100 {
            display: none !important
        }

        .adtester-container-102 {
            display: none !important
        }

        .adtester-container-103 {
            display: none !important
        }

        .adtester-container-104 {
            display: none !important
        }

        .adtester-container-105 {
            display: none !important
        }

        .adtester-container-106 {
            display: none !important
        }

        .ezoic-floating-bottom {
            display: none !important;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/akinator.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Jugar", "Index", "Binkenator")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Binkenator</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
